<div [ngSwitch]="loadingStatus" class="table__container">
  <h1 class="table__heading">Characters</h1>
  <div class="header">
    <div class="search">
      <fa-icon class="search__icon search__icon--magnifying" [icon]="faMagnifyingGlass"></fa-icon>
      <input [formControl]="searchControl" type="text" class="search__input" placeholder="Search">
      <fa-icon *ngIf="!isSearching; else searching" (click)="deleteInput()" class="search__icon search__icon--times" [icon]="faTimes"></fa-icon>
      <ng-template #searching>
        <app-searching></app-searching>
      </ng-template>
    </div>
    <div class="add">
      <a class="btn" (click)="dialogOpen = true" >Add</a>
    </div>
  </div>
  <app-table class="table" [data]="people" [displayedColumns]="displayedColumns" [columnNames]="['name']" link="people" *ngSwitchCase="'table'"></app-table>
  <p class="info" *ngSwitchCase="'none'">
    No Characters found
  </p>
  <app-loading *ngSwitchDefault class="info"></app-loading>
</div>
<mat-paginator class="paginator"
               (page)="handlePageEvent($event)"
               [color]=""
               [length]="peopleLength"
               [pageSize]="10"
               [showFirstLastButtons]="false"
               [pageSizeOptions]="[10]"
               [pageIndex]="pageIndex"
               aria-label="Select page">
</mat-paginator>

<app-people-add-dialog (closeEvent)="onClose($event)" class="modal" *ngIf="dialogOpen"></app-people-add-dialog>
