<nav class="navigation">
  <img class="navigation__logo" src="../../assets/star-wars.png" alt="logo" routerLink="/home">
  <ul class="navigation__list">
    <li class="navigation__item"><a class="navigation__link" routerLinkActive="navigation__link--active" routerLink="/movies">Movies</a></li>
    <li class="navigation__item"><a class="navigation__link" routerLinkActive="navigation__link--active" routerLink="/vehicles">Vehicles</a></li>
    <li class="navigation__item"><a class="navigation__link" routerLinkActive="navigation__link--active" routerLink="/people">Characters</a></li>
    <li class="navigation__item"><a class="navigation__link" routerLinkActive="navigation__link--active" routerLink="/planets">Planets</a></li>
    <li class="navigation__item"><a class="navigation__link" routerLinkActive="navigation__link--active" routerLink="/species">Species</a></li>
  </ul>
</nav>
