<nav class="navigation">
  <img class="navigation__logo" src="../../assets/star-wars.png" alt="logo">
  <ul class="navigation__list">
    <li navigation__list--item><a class="navigation__list--link" routerLinkActive="active" routerLink="/movies">Movies</a></li>
    <li navigation__list--item><a class="navigation__list--link" routerLinkActive="active" routerLink="/vehicles">Vehicles</a></li>
    <li navigation__list--item><a class="navigation__list--link" routerLinkActive="active" routerLink="/people">Characters</a></li>
    <li navigation__list--item><a class="navigation__list--link" routerLinkActive="active" routerLink="/planets">Planets</a></li>
    <li navigation__list--item><a class="navigation__list--link" routerLinkActive="active" routerLink="/species">Species</a></li>
  </ul>
</nav>
