p, h1 {
  color: #fff;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11rem 2rem;

  &__image {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    object-fit: contain;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__character {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 10rem;

    &--mass {
      position: absolute;
      left: -7.5rem;
      bottom: 1rem;
      padding: 1rem 2rem;
      background: rgba(255, 255, 255, 0.45);
      border-radius: 2rem;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 105%;
        transform: translateY(-50%);
        width: 4rem;
        height: 1px;
        border-bottom: 0.2rem dashed rgba(255, 255, 255, 0.55);
      }

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 175%;
        transform: translateY(-50%);
        height: 1.5rem;
        width: 1.5rem;
        background: rgb(255,0,0);
        background: radial-gradient(
          circle,
          rgba(255,0,0,1) 20%,
          rgba(255,255,255,1) 20%,
          rgba(255,255,255,1) 40%,
          rgba(255,255,255,0.5) 40%,
          rgba(255,255,255,0.5) 100%);
        border-radius: 20rem;
      }
    }

    &--height {
      position: absolute;
      left: -10rem;
      top: 5%;
      padding: 1rem 2rem;
      background: rgba(255, 255, 255, 0.45);
      border-radius: 2rem;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 105%;
        transform: translateY(-50%);
        width: 4rem;
        height: 1px;
        border-bottom: 0.2rem dashed rgba(255, 255, 255, 0.55);
      }

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 175%;
        transform: translateY(-50%);
        height: 1.5rem;
        width: 1.5rem;
        background: rgb(255,0,0);
        background: radial-gradient(
            circle,
            rgba(255,0,0,1) 20%,
            rgba(255,255,255,1) 20%,
            rgba(255,255,255,1) 40%,
            rgba(255,255,255,0.5) 40%,
            rgba(255,255,255,0.5) 100%);
        border-radius: 20rem;
      }
    }
  }

  &__content {
    width: 35%;

    &--name {
      font-size: 2.2rem;
      font-weight: 100;
      position: relative;

      &::after {
        content: '';
        display: inline-block;
        width: 5rem;
        border-bottom: 0.2rem solid #000;
        position: absolute;
        bottom: -0.6rem;
        left: 0;
      }
    }

    &--species {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__button {
    display: inline-block;
    padding: 1rem 1.313rem;
    background: #fff;
    border-radius: 100%;
    border: none;
    font-size: 2rem;
    color: #000;
    transition: 0.3s ease-in-out;

    &:hover {
      transform: scale(110%);
    }

    &--disabled {
      pointer-events: none;
      cursor: default;
      background: #d3d3d3;
    }
  }
}
